<%= form_for @user, url: {action: "create"}, html: {class: "form-horizontal"}  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, :class => "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password , :class => "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.password_field :password, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name , :class => "col-md-2 control-label"%>
    <div class="col-md-4"> 
       <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, :class => "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize, {:include_blank => 'select one roles'} ,{:class=> "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quota , :class => "col-md-2 control-label"%>
    <div class="col-md-4"> 
       <%= f.text_field :quota,:value =>   "10485760" ,:class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2  col-sm-6">
      <%= f.submit :submit , :class => "btn btn-success" %>
    </div>
    
  </div>
<% end %>
